.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #0acf83;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: bold;
}

.primary {
  font-size: 16px;
  line-height: 20px;
  padding: 20px 10px;
}

.secondary {
  justify-content: space-between;
  font-size: 14px;
  padding: 20px 30px;
}
